<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} %-5level [%logger{36}:%L:%M] %msg%n</Pattern>
    </layout>
  </appender>
  
  <!--  
  <logger name="net.pechorina.kontempl" level="debug"/>
  <logger name="org.springframework.web" level="debug"/>
  <logger name="org.springframework.http" level="debug"/>
  <logger name="org.springframework.beans" level="info"/>
  <logger name="org.hibernate" level="info"/>
  <logger name="org.hibernate.SQL" level="trace" />
  <logger name="org.hibernate.type" level="trace" />  
  -->
 
  <logger name="net.pechorina.kontempl" level="debug"/>
 
  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>